<div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Servicios</div>
            <div class="page-header">
                <h1>
                    <span class="text-muted font-weight-light">
                        <i class="page-header-icon ion-android-create"></i>
                    </span>Editar ingreso de servicio</h1>
            </div>
    
            <div class="col-md-12">
                    <div class="row">
        
                        <div class=" form-group text-right col-sm-12">
                            <label for="grid-input-16">N°servicio:</label>
                            <input type="text" id="grid-input-16" class="text-right"  disabled="">
                           
                        </div>
        
                    </div>
                </div>
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Nuevo prestamo</div>
                    </div>
                    <div class="panel-body">
                        <form>
    
                            <h3 class="m-t-0">Datos Propietario
                                <span class="label label-success label-Badge">MACHO</span>
                            </h3>
    
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Nombre completo:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Rut:</label>
                                    <input type="text" class="form-control" id="form-inline-input-2" placeholder="00.000.000-0">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Dirección:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Telefono/Celular:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
    
                            </div>
    
                            <h3 class="m-t-0">Datos del semental
                                <span class="label label-success label-tag"></span>
                            </h3>
    
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Nombre de pila:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Nombre de inscripcion:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Raza:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">KCC:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Número de chip:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Fecha de Nacimiento:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Edad:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Color:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
    
                            </div>
    
    
    
                            <h3 class="m-t-0">Datos Propietario
                                <span class="label label-success label-Badge">HEMBRA</span>
                            </h3>
    
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Nombre completo:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Rut:</label>
                                    <input type="text" class="form-control" id="form-inline-input-2" placeholder="00.000.000-0">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Dirección:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Telefono/Celular:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
    
                            </div>
    
                            <h3 class="m-t-0">Datos de la reproductora
                                <span class="label label-success label-tag"></span>
                            </h3>
    
                            <div class="row">
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Nombre de pila:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Nombre de inscripcion:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Raza:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">KCC:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Número de chip:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Fecha de Nacimiento:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-17">Edad:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-3 form-group">
                                    <label for="grid-input-16">Color:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
    
                            </div>
    
    
                            <div class="row ">
                                <div class="panel-footer text-right">
                                    <button type="button" class="btn btn-lg btn-primary btn-rounded ">Guardar</button>
                                    <button type="button" class="btn btn-secondary btn btn-lg btn-outline btn-outline-colorless btn-rounded">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>