<div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Ficha Clinica</div>
            <div class="page-header">
                <h1>
                    <span class="text-muted font-weight-light">
                        <i class="page-header-icon ion-android-clipboard"></i>
                    </span>Ver ficha clínica</h1>
            </div>
    
            <div class="col-md-12">
                <div class="row">
    
                    <div class=" form-group text-right col-sm-12">
                        <label for="grid-input-16">N°ficha:</label>
                        <input type="text" id="grid-input-16" class="text-right" disabled="">
                    </div>
    
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Datos ejemplar</div>
    
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                    <div class="col-sm-4 form-group">
                                            <label for="grid-input-18">Especie</label>
                                            <select class="form-control" id="grid-input-2" disabled="">
                                                <option>Seleccione...</option>
                                                <option>Canino (Perro)</option>
                                                <option>Felino (Gato)</option>
                                                <option>Exotico (Erizo)</option>
                                            </select>
                                        </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-16">Nombre de pila:</label>
                                    <input type="text" id="grid-input-16" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Nombre de inscripción:</label>
                                    <input type="text" id="grid-input-17" class="form-control" disabled="">
                                </div>
                               
                               
                            </div>
                            <div class="row">
                                    <div class="col-sm-4 form-group">
                                            <label for="grid-input-17">Fecha de nacimiento:</label>
                                            <input type="date" id="grid-input-17" class="form-control" disabled="">
                                        </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Raza</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Color</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-18">Sexo:</label>
                                    <select class="form-control" id="grid-input-2" disabled="">
                                        <option>Seleccione...</option>
                                        <option>Macho</option>
                                        <option>Hembra</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Número de chip:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">KCC:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                            </div>
    
                            <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-17">Edad:</label>
                                <input type="text" id="grid-input-17" class="form-control" disabled="">
                            </div>
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Datos Propietario</div>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-16">Nombre:</label>
                                    <input type="text" id="grid-input-16" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Apellido:</label>
                                    <input type="text" id="grid-input-17" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Rut:</label>
                                    <input type="text" id="grid-input-17" class="form-control" disabled="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-18">Telefono/Celular:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Correo electronico:</label>
                                    <input type="email" id="grid-input-19" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Dirección:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="panel" >
                    <div class="panel-heading">
                        <div class="panel-title">Vacunas</div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered" disabled="">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Vacuna</th>
                                    <th>Próximo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
    
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                  
    
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Desparacitaciones internas</div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered" disabled="">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Peso</th>
                                    <th>Aplicación</th>
                                    <th>Próximo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                   
    
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Desparacitaciones externas</div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered" disabled="">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Aplicación</th>
                                    <th>Próximo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
    
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
    
    
                    
                </div>
            </div>
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Datos extra</div>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="grid-input-20">Enfermedades:</label>
                                    <textarea id="grid-input-20" class="form-control" disabled=""></textarea>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label for="grid-input-20">Tratamiento:</label>
                                    <textarea id="grid-input-20" class="form-control" disabled=""></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="grid-input-20">Observaciones:</label>
                                    <textarea id="grid-input-20" class="form-control" disabled=""></textarea>
                                </div>
                            </div>
                            <div class="row ">
                                    <div class="panel-footer text-right">
                                        <button type="button" class="btn btn-lg btn-success btn-rounded ">Eliminar</button>
        
                                        <button type="button" class="btn btn-lg btn-primary btn-rounded ">Editar</button>
        
                                        <button type="button" class="btn btn-secondary btn btn-lg btn-outline btn-outline-colorless btn-rounded">Volver</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>