<style>
    .page-header-form .input-group-addon,
    .page-header-form .form-control {
        background: rgba(0, 0, 0, .05);
    }
</style>

<ol class="breadcrumb page-breadcrumb">
    <li>
        <a href="index.html">Home</a>
    </li>
    <li class="active">{{titulo}}</li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-md-4 text-xs-center text-md-left text-nowrap">
            <h1>
                <i class="page-header-icon ion-ios-pulse-strong"></i>{{titulo}}</h1>
        </div>

        <hr class="page-wide-block visible-xs visible-sm">

        <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
            <a href="#" class="btn btn-primary btn-block">
                <span class="btn-label-icon left ion-plus-round"></span>Crear Proyecto</a>
        </div>

        <!-- Spacer -->
        <div class="m-b-2 visible-xs visible-sm clearfix"></div>

        <form action="" class="page-header-form col-xs-12 col-md-4 pull-md-right">
            <div class="input-group">
                <span class="input-group-addon b-a-0 font-size-16">
                    <i class="ion-search"></i>
                </span>
                <input type="text" placeholder="Buscar..." class="form-control p-l-0 b-a-0">
            </div>
        </form>
    </div>
</div>

<hr class="page-block m-t-0">
