<div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Ficha Ejemplar</div>
            <div class="page-header">
                <h1>
                    <span class="text-muted font-weight-light">
                        <i class="page-header-icon ion-android-clipboard"></i>
                    </span>Ver ficha ejemplar</h1>
    
            </div>
            <div class="col-md-12">
                <div class="row">
    
                    <div class=" form-group text-right col-sm-12">
                        <label for="grid-input-16">N°ficha:</label>
                        <input type="text" id="grid-input-16" class="text-right"  disabled="">
                    </div>
    
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Datos ejemplar</div>
    
    
                    </div>
                    <div class="panel-body">
                        <form>
    
                            <div class="row">
                                <div class="col-sm-4 form-group">
    
                                    <label for="grid-input-18">Especie</label>
                                    <select class="form-control" id="grid-input-2" disabled="">
                                        <option>Seleccione...</option>
                                        <option>Canino (Perro)</option>
                                        <option>Felino (Gato)</option>
                                        <option>Exotico (Erizo)</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-16">Nombre de pila:</label>
                                    <input type="text" id="grid-input-16" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Nombre de inscripción:</label>
                                    <input type="text" id="grid-input-17" class="form-control" disabled=""> 
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Fecha de nacimiento:</label>
                                    <input type="text" id="grid-input-17" class="form-control" disabled="">
                                </div>
    
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Raza</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Color</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-18">Sexo:</label>
                                    <select class="form-control" id="grid-input-2" disabled="">
                                        <option>Seleccione...</option>
                                        <option>Macho</option>
                                        <option>Hembra</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Número de chip:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">KCC:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-18">Estado:</label>
                                    <select class="form-control" id="grid-input-2" disabled="">
                                        <option>Seleccione...</option>
                                        <option>Disponible</option>
                                        <option>Reservado a</option>
                                        <option>Vendido a</option>
                                        <option>Recría</option>
                                        <option>Muerto</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Edad:</label>
                                    <input type="text" id="grid-input-19" class="form-control" disabled="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="grid-input-20">Títulos:</label>
                                    <textarea id="grid-input-20" class="form-control" disabled=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="grid-input-3" class="col-md-3 control-label">Subir foto:</label>
                                    <div class="col-md-6">
                                        <input type="file" class="form-control-file" id="grid-input-3">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                    <div class="panel-footer text-right">
                                        <button type="button" class="btn btn-lg btn-success btn-rounded ">Eliminar</button>
        
                                        <button type="button" class="btn btn-lg btn-primary btn-rounded ">Editar</button>
        
                                        <button type="button" class="btn btn-secondary btn btn-lg btn-outline btn-outline-colorless btn-rounded">Volver</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
    
    
        </div>
    </div>