<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Camadas</div>
        <div class="page-header">
            <h1>
                <span class="text-muted font-weight-light">
                    <i class="page-header-icon ion-android-clipboard"></i>
                </span>Ver camada</h1>
        </div>

        <div class="col-md-12">
            <div class="row">

                <div class=" form-group text-right col-sm-12">
                    <label for="grid-input-16">N°inscripción:</label>
                    <input type="text" id="grid-input-16" class="text-right" disabled="">
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Registro de la camada</div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="grid-input-16">Fecha de registro:</label>
                                <input type="date" id="grid-input-16" class="form-control" disabled="">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="grid-input-17">Fecha de nacimiento camada:</label>
                                <input type="date" id="grid-input-17" class="form-control" disabled="">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-16">Madre:</label>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="form-inline-input-2" disabled="">
                                    </div>

                                </form>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-16">Padre:</label>
                                <form class="form-inline">
                                    <div class="form-group">

                                        <input type="text" class="form-control" id="form-inline-input-2" disabled="">
                                    </div>

                                </form>
                            </div>
                            <div class="col-sm-1 form-group">
                                <label for="grid-input-16">Cantidad machos:</label>
                                <input type="number" id="grid-input-16" class="form-control" disabled="">
                            </div>
                            <div class="col-sm-1 form-group">
                                <label for="grid-input-17">Cantidad Hembras:</label>
                                <input type="number" id="grid-input-17" class="form-control" disabled="">
                            </div>
                            <div class="col-sm-1 form-group">
                                <label for="grid-input-17">Total nacidos:</label>
                                <input type="number" id="grid-input-17" class="form-control" disabled="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="panel-body">
                                <table class="table table-bordered" disabled="">
                                    <thead>
                                        <tr>
                                            <th>N°Ficha</th>
                                            <th>Nombre de inscripción</th>
                                            <th>Raza</th>
                                            <th>Sexo</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                        </tr>
                                        <tr>

                                        </tr>
                                        <tr>

                                        </tr>
                                        <tr>

                                        </tr>
                                        <tr>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">Pedigree</div>
                                </div>
                                <form class="panel-body">

                                </form>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="panel-footer text-right">
                                <button type="button" class="btn btn-lg btn-success btn-rounded ">Eliminar</button>

                                <button type="button" class="btn btn-lg btn-primary btn-rounded ">Editar</button>

                                <button type="button" class="btn btn-secondary btn btn-lg btn-outline btn-outline-colorless btn-rounded">Volver</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>