<div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Formulario Horizontal</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" #formUsuario="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9">
                    <p class="form-control-static">example@mail.com</p>
                </div>
            </div>
            <div class="form-group">
                <label for="nombre" class="col-md-3 control-label">Nombre</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label for="clave" class="col-md-3 control-label">Contraseña</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="clave" name="clave" #clave="ngModel" [(ngModel)]="usuario.clave" required>
                    <small class="text-muted">Favor usar una contraseña más fuerte.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="genero" class="col-md-3 control-label">Género</label>
                <div class="col-md-9">
                    <select class="custom-select form-control" id="genero" name="genero" #genero="ngModel" [(ngModel)]="usuario.genero">
                        <option>No Seleccionado</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="post" class="col-md-3 control-label">Articulos</label>
                <div class="col-md-9">
                    <select class="custom-select form-control" id="post" name="post" #post="ngModel" [(ngModel)]="usuario.post">
                        <option *ngFor="let post of articulos">{{ post.title }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="grid-input-6" class="col-md-3 control-label">Foto</label>
                <div class="col-md-9">
                    <label id="grid-input-6-file" class="custom-file px-file" for="grid-input-6">
                        <input type="file" id="grid-input-6" class="custom-file-input">
                        <span class="custom-file-control form-control">Elegir Archivo...</span>
                        <div class="px-file-buttons">
                            <button type="button" class="btn btn-xs px-file-clear">Limpiar</button>
                            <button type="button" class="btn btn-primary btn-xs px-file-browse">Buscar</button>
                        </div>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Switcher</label>
                <div class="col-md-9">
                    <label for="switcher-basic" class="switcher switcher-success">
                        <input type="checkbox" id="switcher-basic" checked>
                        <div class="switcher-indicator">
                            <div class="switcher-yes">SI</div>
                            <div class="switcher-no">NO</div>
                        </div>
                        Recuerdame
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Radios</label>
                <div class="col-md-9">
                    <label class="custom-control custom-radio" for="grid-input-7">
                        <input type="radio" id="grid-input-7" name="grid-radios-2" class="custom-control-input" checked>
                        <span class="custom-control-indicator"></span>
                        Option one is this and that—be sure to include why it's great
                    </label>
                    <label class="custom-control custom-radio" for="grid-input-8">
                        <input type="radio" id="grid-input-8" name="grid-radios-2" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        Option two can be something else and selecting it will deselect option one
                    </label>
                    <label class="custom-control custom-radio" for="grid-input-9">
                        <input type="radio" id="grid-input-9" name="grid-radios-2" class="custom-control-input" disabled>
                        <span class="custom-control-indicator"></span>
                        Option three is disabled
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Checkbox</label>
                <div class="col-md-9">
                    <label class="custom-control custom-checkbox" for="grid-input-10">
                        <input type="checkbox" id="grid-input-10" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        Check me out
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>