<div class="panel">
    <div class="panel-heading">
        <div class="panel-title"></div>
        <div class="page-header">
            <h1>
                <span class="text-muted font-weight-light">
                    <i class="page-header-icon ion-ios-paw"></i>
                </span>Servicios
            </h1>

        </div>

        
            <div class="row text-center">
                <div class="panel- default ">
                    <button type="button" class="btn btn-lg btn-primary btn-rounded ">Ingresar servicio </button>
                </div>
            </div>
    
            <div><br></div>



        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">Registros existentes</div>
            </div>
            <div class="panel-body">

                <div class="table-primary">
                    <div id="datatables_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="table-header clearfix">
                            <div class="table-caption"></div>
                            <div class="DT-lf-right">
                                <div class="DT-per-page">
                                    <div class="dataTables_length" id="datatables_length">

                                    </div>
                                </div>
                                <div class="DT-search">
                                    <div id="datatables_filter" class="dataTables_filter">
                                        <label>
                                            <input type="search" class="form-control input-sm" placeholder="Buscar..." aria-controls="datatables">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dataTables_table_wrapper">
                            <table class="table table-striped table-bordered dataTable no-footer" id="datatables" role="grid" aria-describedby="datatables_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" aria-sort="ascending" style="width: 150px;">N°ficha</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 200px;">Nombre de pila macho</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 200px;">Nombre de inscripción macho</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 200px;">Nombre propietario macho</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 200px;">Nombre de pila hembra</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 200px;">Nombre de inscripción hembra</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 200px;">Nombre propietario hembra</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr class="gradeA odd" role="row">

                                    </tr>
                                    <tr class="gradeA even" role="row">

                                    </tr>
                                    <tr class="gradeA odd" role="row">

                                    </tr>
                                    <tr class="gradeA even" role="row">

                                    </tr>
                                    <tr class="gradeA odd" role="row">

                                    </tr>
                                    <tr class="gradeA even" role="row">

                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>


</div>