<!-- <div class="panel">
    <div class="panel-heading">
        <div class="panel-title">Ficha Ejemplar</div>
        <div class="page-header">
            <h1>
                <span class="text-muted font-weight-light">
                    <i class="page-header-icon ion-android-checkbox-outline"></i>
                </span>Nueva ficha ejemplar</h1>

        </div>
        <div class="col-md-12">
            <div class="row">

                <div class=" form-group text-right col-sm-12">
                    <label for="grid-input-16">N°ficha:</label>
                    <input type="text" id="grid-input-16" class="text-right"  disabled="">
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">Datos ejemplar</div>


                </div>
                <div class="panel-body">
                    <form>

                        <div class="row">
                            <div class="col-sm-4 form-group">

                                <label for="grid-input-18">Especie</label>
                                <select class="form-control" id="grid-input-2">
                                    <option>Seleccione...</option>
                                    <option>Canino (Perro)</option>
                                    <option>Felino (Gato)</option>
                                    <option>Exotico (Erizo)</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-16">Nombre de pila:</label>
                                <input type="text" id="grid-input-16" class="form-control">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-17">Nombre de inscripción:</label>
                                <input type="text" id="grid-input-17" class="form-control">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-17">Fecha de nacimiento:</label>
                                <input type="text" id="grid-input-17" class="form-control">
                            </div>

                            <div class="col-sm-4 form-group">
                                <label for="grid-input-19">Raza</label>
                                <input type="text" id="grid-input-19" class="form-control">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-19">Color</label>
                                <input type="text" id="grid-input-19" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-18">Sexo:</label>
                                <select class="form-control" id="grid-input-2">
                                    <option>Seleccione...</option>
                                    <option>Macho</option>
                                    <option>Hembra</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-19">Número de chip:</label>
                                <input type="text" id="grid-input-19" class="form-control">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-19">KCC:</label>
                                <input type="text" id="grid-input-19" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-18">Estado:</label>
                                <select class="form-control" id="grid-input-2">
                                    <option>Seleccione...</option>
                                    <option>Disponible</option>
                                    <option>Reservado a</option>
                                    <option>Vendido a</option>
                                    <option>Recría</option>
                                    <option>Muerto</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="grid-input-19">Edad:</label>
                                <input type="text" id="grid-input-19" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="grid-input-20">Títulos:</label>
                                <textarea id="grid-input-20" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="grid-input-3" class="col-md-3 control-label">Subir foto:</label>
                                <div class="col-md-6">
                                    <input type="file" class="form-control-file" id="grid-input-3">
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="panel-footer text-right">
                                <button type="button" class="btn btn-lg btn-primary btn-rounded ">Guardar</button>
                                <button type="button" class="btn btn-secondary btn btn-lg btn-outline btn-outline-colorless btn-rounded">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div> -->

<!-- <div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                Listado de Ejemplares
                <div class="pull-right">
                    <button class="btn btn-primary">Nuevo Ejemplar</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table datatable class="table table-striped">
                <thead>
                    <tr>
                        <th># Chip</th>
                        <th>Nombre Inscripción</th>
                        <th>Estado</th>
                        <th>Rut Propietario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{item.userId}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.body}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
        <tr>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table> -->

<table datatable class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>