<div class="panel">
        <div class="panel-heading">
            <div class="panel-title">Ficha Propietario</div>
            <div class="page-header">
                <h1>
                    <span class="text-muted font-weight-light">
                        <i class="page-header-icon ion-android-create"></i>
                    </span>Editar ficha propietario</h1>
            </div>
    
            
    
            <div class="col-md-12">
                <div class="row">
    
                    <div class=" form-group text-right col-sm-12">
                        <label for="grid-input-16">N°ficha:</label>
                        <input type="text" id="grid-input-16" class="text-right"  disabled="">
                    </div>
    
                </div>
            </div>
    
    
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">Datos Propietario</div>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label for="grid-input-16">Rut:</label>
                                    <form class="form-inline">
                                        <div class="form-group">
    
                                            <input type="text" class="form-control" id="form-inline-input-2" placeholder="00.000.000-0">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Buscar</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-16">Nombre:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Apellidos:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-17">Fecha de nacimiento:</label>
                                    <input type="text" id="grid-input-17" class="form-control">
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-16">Telefono/Celular:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-18">Correo electronico:</label>
                                    <input type="text" id="grid-input-19" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Dirección:</label>
                                    <input type="text" id="grid-input-19" class="form-control">
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-16">Ciudad:</label>
                                    <input type="text" id="grid-input-16" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-18">País:</label>
                                    <input type="text" id="grid-input-19" class="form-control">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Región:</label>
                                    <input type="text" id="grid-input-19" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label for="grid-input-19">Ejemplares a su nombre:</label>
                                    <select multiple="" class="form-control">
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                        <option></option>
                                    </select>
                                    <button type="button" class="btn btn-xs btn-primary btn-rounded ">Añadir</button>
                                    <button type="button" class="btn btn-xs  btn-rounded ">Quitar</button>
                                </div>
    
                            </div>
                            <div class="row ">
                                <div class="panel-footer text-right">
                                    <button type="button" class="btn btn-lg btn-primary btn-rounded ">Guardar</button>
                                    <button type="button" class="btn btn-secondary btn btn-lg btn-outline btn-outline-colorless btn-rounded">Cancelar</button>
                                </div>
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>