<!-- <nav class="px-nav px-nav-left"> -->
<button type="button" class="px-nav-toggle" data-toggle="px-nav">
    <span class="px-nav-toggle-arrow"></span>
    <span class="navbar-toggle-icon"></span>
    <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

<ul class="px-nav-content">
    <li class="px-nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/home']">
            <i class="px-nav-icon ion-home"></i>
            <span class="px-nav-label">Pagina Principal</span>
        </a>
    </li>

    <li class="px-nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/formulario']">
            <i class="px-nav-icon ion-star"></i>
            <span class="px-nav-label">Formulario</span>
        </a>
    </li>

    <li class="px-nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/especies']">
            <i class="px-nav-icon ion-ios-paw"></i>
            <span class="px-nav-label">Especies</span>
        </a>
    </li>

    <li class="px-nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/usuarios']">
            <i class="px-nav-icon ion-person-stalker"></i>
            <span class="px-nav-label">Usuarios</span>
        </a>
    </li>
</ul>
<!-- </nav> -->